In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv('training_sample.csv')

In [3]:
def plot_unit(df, unitid):
    fig, ax = plt.subplots(nrows=5, figsize = (10,20))
    df_u = df.loc[ df['unitID']==unitid ]
    for

,unitID,weekID,outcome,treatment,X1,X2,X3,C1,C2,C3
0,UNIT01155,0,470,0.0,64.225447,88362,0,M,KF7,E_2
1,UNIT01155,1,534,0.0,64.225447,87892,0,M,KF7,E_2
2,UNIT01155,2,550,0.0,64.225447,87358,0,M,KF7,E_2
3,UNIT01155,3,562,0.0,64.225447,86808,0,M,KF7,E_2
4,UNIT01155,4,1625,0.1,64.225447,86246,1,M,KF7,E_2
...,...,...,...,...,...,...,...,...,...,...
371255,UNIT04556,90,250,0.0,24.921954,17556,0,C,AE5,E_5
371256,UNIT04556,91,214,0.0,24.921954,17306,0,C,AE5,E_5
371257,UNIT04556,92,321,0.0,24.921954,17092,0,C,AE5,E_5
371258,UNIT04556,93,378,0.0,24.921954,16771,0,C,AE5,E_5
371259,UNIT04556,94,384,0.0,24.921954,16393,0,C,AE5,E_5